@model UserModel

@{
    ViewData["Title"] = "User Form";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@if (TempData["ErrorMassage"] != null)
{
    <script>
        Swal.fire({
            icon: "error",
            title: "Error",
            text: "@TempData["ErrorMassage"]",
        });
    </script>
}

<div class="pagetitle">
    <h1>User Management</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item active">User Form</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">User Form</h5>
                    <form class="row g-3" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="UserID">

                        <div class="col-12">
                            <label class="form-label">User Name</label>
                            <input asp-for="UserName" class="form-control" placeholder="User Name">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="col-12">
                            <label class="form-label">Email</label>
                            <input asp-for="Email" class="form-control" placeholder="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="col-12">
                            <label class="form-label">Password</label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="col-12">
                            <label class="form-label">Mobile No</label>
                            <input asp-for="MobileNo" class="form-control" placeholder="Mobile No">
                            <span asp-validation-for="MobileNo" class="text-danger"></span>
                        </div>

                        <div class="col-12">
                            <label class="form-label">Role</label>
                            <select asp-for="Role" class="form-select">
                                <option value=true>Admin</option>
                                <option value=false>User</option>
                            </select>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-primary" asp-controller="User" asp-action="UserSave" type="submit">Save</button>
                            <a href="/User" class="btn btn-dark">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
